/* Global style */

body {
    background-color: #162732;
    font-family: 'Permanent Marker', cursive;
    color: #F6F5EA;
    text-align: center;
    height: 100%;
}

/*  Heading */

header {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}

/*  Button area */

.button-area {
    width: 100%;
    height: auto;
}

.choice {
    width: 15%;
    height: 50px;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
}

.btn--big:hover {
    color: forestgreen;
}

.game-area p {
    margin: 0;
}

/* Score area */

.score-area {
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
}

.user {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    float: left;
}

.computer {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    float: right;
}

.result {
    width: 20%;
    display: inline-block;
}

/* .wins-rule {
    width: 20%;
    display: inline;
} */


.scores {
    margin-top: 0;
}

/* rules area */

.rules {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.rules p {
    font-size: 1rem;
}

.rules h3 {
    margin: 0;
}

@media screen and (max-width: 800px) {

    .result {
        font-size: .5rem;
    }

    .btn--big {
        margin: 0;
    }

    #alert {
        width: 20%;
    }

    .rules {
        width: 100%;
        height: auto;
        /* position: absolute; */
        padding-top: 40%;
    }

    .scores {
        font-size: 1rem;
    }

    .user h3 {
        padding-right: .5rem;
    }

    .computer h3 {
        padding-left: .5rem;
    }

    button {
        margin: 0;
    }

    img {
        width: 50%;
    }
}