/* Global style */

body {
    background-color: #008AC4;
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite;
    text-align: center;
    height: 100%;
}

/*  Heading */

header {
    height: 80px;
}

h2 {
    font-size: 3rem;
}

/*  Button area */

.choice {
    width: 15%;
    height: 50px;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
}

.btn--big:hover {
    color: forestgreen;
}

/* Selection images */

.score-area {
    width: 100%;
}

.user {
    width: 49%;
    float: left;
}

.computer {
    width: 49%;
    float: right;
}

/* Footer */

